@page
@model HomeTask8.Pages.GetModel
@{
    ViewData["Title"] = "Getting information";
}
<h2>Getting information</h2>
<form method="get">
    <div id="input_get_fields">
        <label for="info_type">Information type</label><br />
        <select name="info_type" id="info_type">
            <option value="" disabled selected hidden>Choose type</option>
            <option value="all_students">All students</option>
            <option value="all_lecturers">All lecturers</option>
            <option value="all_courses">All courses</option>
            <option value="all_grades">All grades</option>
        </select>
    </div>
    <div id="input_get_fields">
        <label for="extra_field">Extra field</label><br />
        <input type="text" name="extra_field" id="extra_field" />
    </div> <br />
    <input type="submit" id="get_button" value="Get information" />
</form>
